<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
      <script type="text/javascript" src="/javascript/script.js"></script>
      <script language="JavaScript" type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
      <script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-3.4.1.packed.js"></script>
      <script language="JavaScript" type="text/javascript" src="/js/sprinkle.js"></script>
    </head>
    <body>
        <!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <img src="https://scontent.fntr6-1.fna.fbcdn.net/v/t1.0-9/69423425_129425578373833_7450615961784156160_n.jpg?_nc_cat=105&_nc_oc=AQl7Xr5Zy6Uh_peVtPnAHtzw6SGnzl3d0ic8Z7dxoxgnuws5bGNF7h8BuQ2XX12VoP4&_nc_ht=scontent.fntr6-1.fna&oh=2d2dbb30300b15e2fbee96b8727e92a9&oe=5E1096FB" style="width:100%">
    <div class="text">Caption Text</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 3</div>
    <img src="https://scontent.fntr6-1.fna.fbcdn.net/v/t1.0-9/69556273_129425601707164_444655344224829440_n.jpg?_nc_cat=101&_nc_oc=AQmTMRs7Fp-TUJesFyE4fQYcR9RaFe5dffxdZJizjp35St83yPwFVdoYF0apvuYZmLw&_nc_ht=scontent.fntr6-1.fna&oh=56495eb3dd97e1d1a10f06f1e9eafc5d&oe=5DFB14CE" style="width:100%">
    <div class="text">Caption Two</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 3</div>
    <img src="https://scontent.fntr6-1.fna.fbcdn.net/v/t1.0-9/54519968_418029292074312_6974665587465125888_n.png?_nc_cat=103&_nc_oc=AQnz1dQCg3LTZx0o78NVaWDzsDHF3BfEbioXX6iHwKigA-bXvwL1nnPzEQjlMujgpDQ&_nc_ht=scontent.fntr6-1.fna&oh=dd13d478e4d2dd38fe9d206e511c340b&oe=5DFC147F" style="width:100%">
    <div class="text">Caption Three</div>
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>
    </body>
</html>